@page
@model IndexModel
@{
    ViewData["Title"] = "Invitation";
}

@section CustomHeaderSection{
    <h1 class="w3-jumbo">Chethan & Reshma</h1>
    <h2>Are getting married</h2>
    <h2><b>March 8th, 2018</b></h2>
}

<div class="w3-container w3-pale-lavendar">
    <br /><br />
    <p class="w3-center"><a asp-page="/IndexKannada" class="w3-button w3-black w3-round w3-padding-large w3-large">ಕನ್ನಡದಲ್ಲಿ ಅಹ್ವಾನ</a></p>
</div>

<!-- About -->
<div class="w3-container w3-padding-64 w3-pale-lavendar w3-grayscale-min" id="us">
    <div class="w3-content">
        <h1 class="w3-center w3-text-grey"><b>Chethan & Reshma</b></h1>
        <img class="w3-round w3-grayscale-min" src="~/images/wedding_couple2.jpg" style="width:100%;margin:32px 0" />
        <p style="text-align: justify; font-size: 18px; font-weight: 500; font-family: cursive;">            
                As its said the best relations start off as friends. Having known each other very well, we both decided to hoist
                to next level, the marriage. Families agreed and here we are together to continue our journey of life with new goals
                and intents. Hope you join our celebration of happiness and bless us both.         
        </p>
        <br>
        <p class="w3-center w3-pale-lavendar"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding Details</a></p>
    </div>
</div>



<!-- Background photo -->
<div class="w3-display-container">
    <img class="w3-round-large w3-grayscale-min" src="~/images/flowers.jpg" style="width:100%;margin: 0">
    <div class="w3-display-middle text-shadow2 w3-center">
        <h1 class="w3-jumbo-edited">You Are Invited</h1><br>
        <h2>Of course..</h2>
    </div>
</div>


<!-- Wedding information -->
<div class="w3-container w3-padding-64 w3-pale-lavendar w3-grayscale-min w3-center" id="wedding">
    <div class="w3-content">
        <h1 class="w3-text-grey"><b>THE WEDDING</b></h1>
        <div class="w3-row">
            <div class="w3-half" style="text-align: center">
                <h2><strong>When</strong></h2>
                <div style="font-weight: 700">
                    <p>Moortham - 8:10 AM to 8:40 AM</p>
                    <p>Reception & Lunch - 10:00 AM to 1:00 PM</p>
                </div>
            </div>
            <div class="w3-half" style="text-align: center">
                <h2><strong>Where</strong></h2>
                <div style="font-weight: 700">
                    <p>SRT Kalyana Mantapa</p>
                    <p>Lakshmipura, Chennarayapatna Road, near to Kikkeri</p>
                    <p>Karnataka 571423, India</p>
                </div>
            </div>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15563.680756120515!2d76.42264453788833!3d12.783692394949398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba5604550dc7a65%3A0x97f86546389b9f06!2sSRT+Kalyana+Mantapa!5e0!3m2!1sen!2sus!4v1518754067017" style="width: 100%;" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<!-- RSVP section -->
<div class="w3-container w3-padding-64 w3-pale-lavendar w3-center w3-wide" id="rsvp">
    <h1>HOPE YOU CAN MAKE IT!</h1>
    <p class="w3-large">Kindly Respond by February, 2018</p>
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
        <div class="w3-container w3-white w3-center">
            <p>We really hope to see you..</p>
            <form method="post">
                <div>
                    <input asp-for="EmailRSVP.Name" placeholder="Your Name" class="w3-input w3-border" />
                    <span asp-validation-for="EmailRSVP.Name"></span>
                </div>
                <br />                
                <div>
                    <input asp-for="EmailRSVP.Email" placeholder="Your Email ID/ Phone number" class="w3-input w3-border" />
                    <span asp-validation-for="EmailRSVP.Email"></span>
                </div>
                <br />
                <div>
                    <textarea asp-for="EmailRSVP.Message" rows="4" placeholder="Your Message" class="w3-input w3-border"></textarea>
                    <span asp-validation-for="EmailRSVP.Message"></span>
                </div>
                <p><i>Sincerely, <br />
                    <strong>Chethan & Reshma</strong></i></p>
                <div class="w3-row">
                    <p class="w3-xlarge">
                        <button type="submit" class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" style="padding:8px 60px">RSVP</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

<footer>
    <div class="w3-bottom w3-hide-small">
        <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
            <a href="#home" style="width:25%" class="w3-bar-item w3-button">Home</a>
            <a href="#us" style="width:25%" class="w3-bar-item w3-button">Chethan & Reshma</a>
            <a href="#wedding" style="width:25%" class="w3-bar-item w3-button">Wedding</a>
            <a href="#rsvp" style="width:25%" class="w3-bar-item w3-button w3-hover-black">RSVP</a>
        </div>
    </div>
</footer>
<div class="w3-hide-small" style="margin-bottom:32px">&nbsp;</div>
