@page
@model IndexKannadaModel
@{
    ViewData["Title"] = "ಕರೆಯೋಲೆ";
}


@section CustomHeaderSection{
    <h1 class="w3-jumbo">ಚೇತನ್ ಮತ್ತು ರೇಷ್ಮ</h1>    
    <h2><b>ಮಾರ್ಚ್ ೮, ೨೦೧೮ ರಂದು</b></h2>
    <h2>ಮದುವೆ ಆಗಲಿದ್ದಾರೆ</h2>
}

<div class="w3-container w3-pale-lavendar">
    <br /><br />
    <p class="w3-center"><a asp-page="/Index" class="w3-button w3-black w3-round w3-padding-large w3-large">English Invite</a></p>
</div>

<!-- About -->
<div class="w3-container w3-padding-64 w3-pale-lavendar w3-grayscale-min" id="us">
    <div class="w3-content">
        <h1 class="w3-center w3-text-grey"><b>ಚೇತನ್ ಮತ್ತು ರೇಷ್ಮ</b></h1>
        <img class="w3-round w3-grayscale-min" src="~/images/wedding_couple2.jpg" style="width:100%;margin:32px 0" />
        <p style="text-align: justify; font-size: 18px; font-weight: 600;">
                ಒಳ್ಳೆಯ ಭಾಂದವ್ಯ ಸ್ನೇಹದಿಂದಷ್ಟೇ ಸಾಧ್ಯವಂತೆ. ಹಾಗಾಗಿ ನಮ್ಮ ನಡುವೆ ಇದ್ದ ಸ್ನೇಹವನ್ನು ಮತ್ತೊಂದು ಮೆಟ್ಟಿಲೇರಿಸಿ ಇಬ್ಬರು ದಾಂಪತ್ಯ
                ಜೀವನಕ್ಕೆ ಕಾಲಿಡಲು ಮುಂದಾದೆವು. ಆ ಆಶಯದಂತೆ ಗುರುಹಿರಿಯರು ನಮ್ಮ ವಿವಾಹ ಮಹೋತ್ಸವವನ್ನು ನಡೆಸಲು ನಿಶ್ಚಯಿಸಿದ್ದಾರೆ. ತಾವು ಸಕುಟುಂಬ
                ಸಮೇತರಾಗಿ ಆಗಮಿಸಿ ನಮಗೆ ಆಶೀರ್ವದಿಸಬೇಕಾಗಿ ಕೋರಿಕೊಳ್ಳುತ್ತೇವೆ.  
        </p>
        <br>
        <p class="w3-center"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">ಮದುವೆ ಬಗ್ಗೆ ಹೆಚ್ಚಿನ ವಿವರಗಳು</a></p>
    </div>
</div>



<!-- Background photo -->
<div class="w3-display-container bgimg2">
    <img class="w3-round-large w3-grayscale-min" src="~/images/flowers.jpg" style="width:100%;margin: 0">
    <div class="w3-display-middle text-shadow2 w3-center">
        <h2>ಖಂಡಿತವಾಗಿ..</h2><br> 
        <h1 class="w3-jumbo-edited">ನೀವು ಕೂಡ ಆಹ್ವಾನಿತರು</h1>       
    </div>
</div>


<!-- Wedding information -->
<div class="w3-container w3-padding-64 w3-pale-lavendar w3-grayscale-min w3-center" id="wedding">
    <div class="w3-content">
        <h1 class="w3-text-grey"><b>ಮದುವೆ</b></h1>
        <div class="w3-row">
            <div class="w3-half" style="text-align: center">
                <h2><strong>ಯಾವತ್ತು</strong></h2>
                <div style="font-weight: 700">
                    <p>ಧಾರಾಮುಹೂರ್ತ - ಬೆಳಿಗ್ಗೆ ೮:೧೦ ರಿಂದ ೮:೪೦ ಗಂಟೆಗೆ</p>
                    <p>ಆರತಕ್ಷತೆ  ಮತ್ತು ಊಟ - ಬೆಳಿಗ್ಗೆ ೧೦:೦೦ ರಿಂದ ೧:೦೦ ಗಂಟೆಗೆ</p>
                </div>
            </div>
            <div class="w3-half" style="text-align: center">
                <h2><strong>ಎಲ್ಲಿ</strong></h2>
                <div style="font-weight: 700">
                    <p>ಎಸ್. ಆರ್. ಟಿ. ಕಲ್ಯಾಣ ಮಂಟಪ</p>
                    <p>ಲಕ್ಷ್ಮೀಪುರ, ಚೆನ್ನರಾಯಪಟ್ಟಣ ರಸ್ತೆ, ಕಿಕ್ಕೇರಿ ಹತ್ತಿರ</p>
                    <p>ಕರ್ನಾಟಕ ೫೭೧೪೨೩, ಇಂಡಿಯಾ </p>
                </div>
            </div>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15563.680756120515!2d76.42264453788833!3d12.783692394949398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba5604550dc7a65%3A0x97f86546389b9f06!2sSRT+Kalyana+Mantapa!5e0!3m2!1sen!2sus!4v1518754067017" style="width: 100%;" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<!-- RSVP section -->
<div class="w3-container w3-padding-64 w3-pale-lavendar w3-center w3-wide" id="rsvp">
    <h2>ತಮ್ಮ ಆಗಮನಾಭಿಲಾಷಿಗಳು</h2>
    <p class="w3-large">ದಯವಿಟ್ಟು ನಿಮ್ಮ ಬರುವಿಕೆಯನ್ನು ಫೆಬ್ರವರಿ ೨೦೧೮ ರ  ಒಳಗೆ  ತಿಳಿಸಿ</p>
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
        <div class="w3-container w3-white w3-center">
            <p>ನಿಮ್ಮನ್ನು ಭೇಟಿಯಾಗುವ ನಿರೀಕ್ಷಣೆಯಲ್ಲಿ..</p>
            <form method="post">
                <div>
                    <input asp-for="KannadaEmailRSVP.Name" placeholder="ನಿಮ್ಮ ಹೆಸರು" class="w3-input w3-border" />
                    <span asp-validation-for="KannadaEmailRSVP.Name"></span>
                </div>
                <br />                
                <div>
                    <input asp-for="KannadaEmailRSVP.Email" placeholder="ನಿಮ್ಮ ಇಮೇಲ್ ವಿಳಾಸ/ ಮೊಬೈಲ್ ಸಂಖ್ಯೆ" class="w3-input w3-border" />
                    <span asp-validation-for="KannadaEmailRSVP.Email"></span>
                </div>
                <br />
                <div>
                    <textarea asp-for="KannadaEmailRSVP.Message" rows="4" placeholder="ನಿಮ್ಮ ಸಂದೇಶ" class="w3-input w3-border"></textarea>
                    <span asp-validation-for="KannadaEmailRSVP.Message"></span>
                </div>
                <p><i>ನಿಮ್ಮ ಪ್ರೀತಿಯ, <br />
                    <strong>ಚೇತನ್ ಮತ್ತು ರೇಷ್ಮ</strong></i></p>
                <div class="w3-row">
                    <p class="w3-xlarge">
                        <button type="submit" class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" style="padding: 10px 30px">ಆರ್.ಸ್.ವಿ.ಪಿ</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

<footer>
    <div class="w3-bottom w3-hide-small">
        <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
            <a href="#home" style="width:25%" class="w3-bar-item w3-button">ಮನೆ</a>
            <a href="#us" style="width:25%" class="w3-bar-item w3-button">ಚೇತನ್ ಮತ್ತು ರೇಷ್ಮ</a>
            <a href="#wedding" style="width:25%" class="w3-bar-item w3-button">ಮದುವೆ</a>
            <a href="#rsvp" style="width:25%" class="w3-bar-item w3-button w3-hover-black">ಆರ್.ಸ್.ವಿ.ಪಿ</a>
        </div>
    </div>
</footer>
<div class="w3-hide-small" style="margin-bottom:32px">&nbsp;</div>

